@charset "utf-8";
/* font */
@font-face{
    font-family: NotoR;
    src: url("../font/NotoSansKR-Regular.eot");
    src: local("※"),
    url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.otf") format("opentype")
}
@font-face{
    font-family: NotoT;
    src: url("../font/NotoSansKR-Thin.otf.eot");
    src: local("※"),
    url("../font/NotoSansKR-Thin.woff") format("woff"),
    url("../font/NotoSansKR-Thin.otf") format("opentype")
}
@font-face{
    font-family: NotoB;
    src: url("../font/NotoSansKR-Bold.eot");
    src: local("※"),
    url("../font/NotoSansKR-Bold.woff2") format("woff2"),
    url("../font/NotoSansKR-Bold.woff") format("woff"),
    url("../font/NotoSansKR-Bold.otf") format("opentype")
}
/* 태그초기화 */
body, ul, p, h1, h2, h3, h4, button, em, div, a{margin: 0;padding: 0}
h1, h2, h3, h4, em, strong, button{font-weight: normal;font-family: inherit;color: inherit;font-size: inherit}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none;}
button{cursor: pointer;border: none;background: none}
em, strong{font-style: normal}
img{vertical-align: top;max-width: 100%;height: auto}
nav, header, section, article, footer{display: block}
ul{list-style: none}

/* 공통클래스 */
.blind{position: absolute;width: 1px;height: 1px;overflow: hidden;text-indent: -9999px;left: -9999px;}
.p_r{position: relative;}
.p_a{position: absolute}
.f_r{float: right}
.f_l{float: left;}
.clearfix:after{content: "";display: block;clear: both}
/* common */
body{font-family: NotoR, "맑은 고딕", "Malgun Gothic";font-size: 1em;color: #2b2b2b}
.area{width: 1200px;height: 920px;margin: 0 auto}

/* skip */
#skip a{position: absolute;top: 0;left: -9999px;z-index: 1000;height: 50px;line-height: 50px}
#skip a:focus{left: 0;width: 100%;background: rgb(35, 91, 66);color: #fff;text-align: center}

/* header */
#header{position: absolute;top: 0;left: 0;width: 100%;height: 90px;color: #fff;z-index: 100}
#header .logo{float: left;padding-top: 35px;margin-top: -6.5px}


/* {display: none}초기화면에서 숨길 컨텐츠 */
.close_btn, .btn_menu, #mGnb{display: none}


/* navigation */
.head_top{width: 1200px;z-index: 500;height: 90px;margin: 0 auto}
.head_top h1{margin-right: 263px;}
#pcGnb{position: relative;float: left;}
#pcGnb >ul{position: relative;font-size: 18px;width: 450px;height: 52px;float: left;margin-top: 18px}
#pcGnb ul li a{display: block;}
#pcGnb > ul > li{position: relative;float: left;padding-right: 45px;}
#pcGnb > ul > li:last-child{padding-right: 0;}
#pcGnb > ul > li > a{line-height: 52px;}
#pcGnb > ul > li.on > a, #pcGnb > ul > li > a:focus, #pcGnb > ul > li > a:hover{color: #f5b43d}
#pcGnb .dep2{position: absolute;font-size: 15px;top: 52px;left: 0;width: 130px;padding-top: 8px;line-height: 30px}
#pcGnb ul li ul li:hover a, #pcGnb ul li ul li a:focus{color: #f5b43d}
/* 서브페이지 navigation */
#header.sub_head{height: 75px;}
#header.sub_head .logo{padding-top: 17px;}
#header.sub_head #pcGnb .dep2{text-align: center}



/* content */
#content article{height: 920px;}

/* footer */
#footer{height: 190px;background: #fff;color: #ccc;border-top: 1px solid}
#footer .area.wrap{position: relative;width: 1005px;height: 76px;margin-top: 56px}
#footer .area ul li{float: left}
#footer .area .foot_box{top: 0;margin-left: 290px}
#footer .area .foot_link{display: inline-block;height: 13px;line-height: 13px}
#footer .area .foot_link li{margin-left: 18px}
#footer .area .foot_link li a:focus, #footer .area .foot_link li:hover a{color: #235b42;}
#footer .area .foot_link li:after{content: "";display: block;height: 13px;width: 1px;background: #ccc;margin-top: -13px;margin-left: -9px}
#footer .area .foot_link .list1{margin-left: 0}
#footer .area .foot_link .list1:after{display: none}
#footer .area .foot_box, #footer .area .sns{position: absolute}
#footer .area ul, #footer .area p{font-size: 13px}
#footer .area .copy{font-size: 12px}
#footer .area .sns{top: 0;right: 0;}
#footer .area .sns li{margin-left: 20px}

/* transition */
#pcGnb > ul > li > a,#footer .area .foot_link li a, #pcGnb ul li ul li a{transition: all .6s}


/* 모바일 네비게이션 */
@media screen and (max-width: 768px) {
    #mGnb{position: fixed;bottom: 100%;right: 0;height: 100%;background: #235b42;width: 300px;color: #2b2b2b;background: #fff;float: right}
    #mGnb > ul >li{border-bottom: 1px solid #ccc;padding: 5px 10px;overflow: hidden}
    #mGnb ul li ul{max-height: 0;transition: max-height 0.5s}
    #mGnb ul li.on ul{max-height: 800px;}
    #mGnb > ul >li > a{display: block;font-size: 18px;height: 60px;line-height: 60px;padding-left: 30px;font-family: NotoB}
    #mGnb > ul >li:first-child{margin-top: 50px}
    #mGnb ul li ul li a{display: inline-block;font-size: 15px;padding: 5px 30px}
    #mGnb > ul >li > a img{float: right;margin-top: 18px}
    .close_btn{position: absolute;right: 20px;top: 20px;}
}

