@charset "utf-8";
/* 본문 */
#content article{height: 920px}
/* font style
.title{font-size: 48px;text-align: center;margin-top: -210px} */
.title{font-size: 48px;text-align: center;margin-top: -150px}
.title:after, .title2:after{content: "";display: block;width: 35px;height: 1px;background: #235b42;margin-left: 49%;margin-top: 10px}

/* indicator */
#indicator{position: fixed;right: 30px;top: 50%;margin-top: -100px;width: 110px;color: #2b2b2b;z-index: 900}
#indicator.white{color: #fff;}
#indicator ul li{height: 15px;line-height: 15px;width: 110px;padding: 10px 0}/* width: 20px; */
#indicator ul li a{display: block;}
#indicator ul li a span{display: inline-block;vertical-align: middle;}
#indicator ul li a .txt{width: 85px;font-size: 14px;text-align:right;margin-right: 10px;}
#indicator ul li a .icon{position: relative;width: 10px;height: 10px;border-radius: 50%}
#indicator ul li a .icon:before{content: "";position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;border-radius: 50%;background: #2b2b2b;}
#indicator ul li a .icon, #indicator ul li a .icon:before{transition: all 0.5s}
#indicator ul li.on a .icon{box-shadow: 0 0 0 1px #000}
#indicator ul li.on a .icon:before{transform: scale(0.5)}
#indicator ul li.on a .txt{color: #235b42}

#indicator.white ul li a .icon:before{background: #fff;}
#indicator.white ul li.on a .icon{box-shadow: 0 0 0 1px #fff}
#indicator.white ul li.on a .txt,#indicator ul li a:hover, #indicator ul li a:focus{color: #f5b43d}
/* #cnt0 */
#content > article > .area{display: table;height: 100%}
.cell{display: table-cell;vertical-align: middle}
#cnt0{color: #fff;background: url("../images/main/main_linebg.jpg") repeat-y center top;padding-top: 90px;box-sizing: border-box}
#cnt0 h3{font-family: NotoB;font-size: 73px;padding-top: 0px}
#cnt0 .area span{position: absolute;font-family: NotoT;font-size: 30px;margin-top: -290px}
#cnt0 .area span:before{content: "";display: block;width: 35px;height: 1px;background: #fff;margin-bottom: 10px}
#cnt0 .area p{line-height: 32px;margin-top: 51px}
#cnt0 em{display: block;font-size: 22px;width: 251px;height: 40px;line-height: 40px;background: rgba(255, 255, 255, 0.4);padding: 3px 5px 3;margin-top: 35px;text-align: center}
#cnt0 .area img{position: absolute;top: 0 ;left: 50%;margin-top: 120px}

.scroll{position: fixed;bottom: 30px;left: 50%;margin-left: -12px;width: 24px;background: url("../images/common/scroll_w.png") no-repeat center top;color: #fff}
.scroll.black{background-image: url("../images/common/scroll_b.png");color: #2b2b2b}

.scroll p{font-size: 14px;margin-left: -5px;padding-top: 37px}
.btnTop{position: fixed;bottom: 30px;right: 3%;border: 1px solid #000;background: rgba(255, 255, 255, 0.5);border: none;z-index: 1000}
.btnTop span{font-size: 14px;display: block;color: #ff3333;}

/* #cnt1
#cnt1{text-align: center;background: url("../images/main/main_bg2.png") no-repeat top center} */
#cnt1{text-align: center;background-image: url("../images/main/main_bg2.png")}
#cnt1 strong{display: block;font-size: 24px;margin: 10px 0 50px}
#cnt1 p{font-size: 20px;line-height: 35px}
#cnt1 .polygon{margin-top: 44px;}

/* #cnt2, #cnt3 */
#cnt2{background: url("../images/main/bg_1.png")no-repeat left 0 center;}
#cnt2 h3{margin-top: -178px}
#cnt3 h3{margin-top: -182px}
#cnt3{background: url("../images/main/bg_2.png")no-repeat right 0 center;}
#cnt2 ul li, #cnt3 ul li{float: left}
#cnt2 .slider, #cnt3 .slider{color: #fff}

.slider{position: relative;height: 435px;margin-top: 0px;overflow: hidden}
.slider ul{width: 4800px;}
.slider ul li{width: 1200px;height: 435px}
.slider li img, .slider ul li .txt{width: 435px}
.slider li img{float: right;height: 435px;}
.slider ul li .txt{float: left;margin-top: 130px}
.right .slider li img{float: left;}
.right .slider ul li .txt{float: right;}

#cnt2 .txt{margin-left: 230px}
#cnt3 .txt{margin-right: 230px}
.txt h4{position: relative;font-size:47px;margin-bottom: 30px;text-align: right}
.txt h4:after{content: "";position: absolute;bottom: 0;top: 76px;width: 35px;height: 1px;background: #fff}
.txt p{line-height: 30px}
#cnt2 .txt p{text-align: right}
#cnt3 .txt p, #cnt3 .txt h4{text-align: left}
#cnt2 .txt h4:after{left: 400px;}
#cnt3 .txt h4:after{right: 400px;}
#cnt3 .txt{text-align: right}
.control{position: absolute;top: 200px;} 
#cnt2 .control{left: 44%;top: 380px;}
#cnt3 .control{left: 56%;top: 379px;}

.control .next{margin-left: 30px}

/* 공통 */
#cnt4, #cnt5{text-align: center;color: #fff}
#cnt4 h3, #cnt5 h3{margin-left: -60px}
.m_event{display: none;}
.title2{font-size: 40px}
.title2:after{background-color: #fff}
.main_txt{font-size: 20px;width: 400px;box-sizing: border-box}/* padding-top: 200px; */
.main_txt p{padding: 60px 0 47px 0;text-align: left}
.main_txt .circle{width: 270px;height: 270px;border-radius: 50%;background-color: rgba(255, 255, 255, 0.2);margin-left: 30px}
.main_txt .circle img{margin-top: 50px}
.main_txt .circle p{padding: 0;font-size: 14px;padding-top: 16px;text-align: center}
.main_txt .circle p:before{content: "";display: block;width: 27px;height: 1px;background: #fff;margin-left: 45%;margin-bottom: 16px}
/* #cnt4
#cnt4 .event1{background: url("../images/main/e.jpg")no-repeat;height: 100%;} */
#cnt4{background-image: url("../images/main/e.jpg")}
#cnt4 .main_txt{margin-left: 60%}
/* #cnt5
#cnt5 .event2{background: url("../images/main/e2.jpg")no-repeat;height: 100%;} */
#cnt5{background-image: url("../images/main/e2.jpg")}
#cnt5 .main_txt{margin-right: 60%}

/* #cnt6
#cnt6{background: url("../images/main/review_bg.jpg")no-repeat} */
#cnt6{background-image: url("../images/main/review_bg.jpg")}
#cnt6 .subTxt{text-align: center;font-size: 15px;padding: 20px 0 35px 0}
#cnt6 ul{width: 100%;margin-left: 93px}/* height: 610px;대신 공통클래스 .clearfix 1440이하 해상도 부터 한줄(4개만) 보여지도록 */
#cnt6 ul li{float: left;margin-left: 22px}
#cnt6 ul li p{width: 237px;background: #fff;height: 90px;font-size: 12px;text-align: left;padding: 10px 0 20px 10px;box-sizing: border-box}
#cnt6 ul .list1, #cnt6 ul .list5{margin-left: 0}
#cnt6 ul .top{margin-top: 38px}
#cnt6 ul li img,#cnt6 ul li p{transition: all 0.4s} 
#cnt6 ul li{background: #2b2b2b;}


#cnt1, #cnt4, #cnt5, #cnt6{background-size: cover;background-repeat: no-repeat;background-position: center}

/* 추가 */
@media screen and (max-width: 1440px) {
	#cnt0 .area img{left: 49%;}

	#cnt6 .subTxt{padding-bottom: 50px;}
	#cnt6 ul li.top{display: none;}
}

@media screen and (max-width: 1366px) {
	#cnt0 .area img{left: 47%;}
	.slider{width: 1000px;}
	.slider ul li{width: 1000px}
}

/* 테블릿 */
@media screen and (max-width: 1280px) {
    /* display_none */
    .scroll{display: none}
    /* 공통 */
    .title{font-size: 40px;padding-top: 10px}
    .title:after, .title2:after{width: 30px;height: 1px;background: #235b42;margin-left: 49%;margin-top: 10px}
    /* header */
    .head_top h1{margin-right: 0px;margin-left: 15px}
    .logo{margin-top: 0;left: -15px}
    .area{width: 95%;box-sizing: border-box}
    .head_top{width: 1007px;height: 60px}
    #header{height: 60px}
    .head_top h1{margin-right: 263px}
    /* nav */
    #pcGnb >ul{font-size: 16px;height: 60px;margin-top: 30px}
    #pcGnb > ul > li{padding-right: 35px;}
    #pcGnb > ul > li > a{line-height: 50px;}
    #pcGnb .dep2{font-size: 14px;top: 40px;padding-top: 3px}
    #indicator{display: none}
    /* cnt0 */
    #cnt0{padding-top: 60px}
    #cnt0 .area h3{font-size: 60px;padding-top: 20px;line-height: 63px}
    #cnt0 .area span{font-size: 25px;margin-top: -190px}
    #cnt0 .area img{position: absolute;top: 0 ;left: 50%;margin-top: 160px;width: 450px;height: 450px;}
    #cnt0 .area span:before{content: "";display: block;width: 35px;height: 1px;background: #fff;margin-bottom: 10px}
    #cnt0 .area p{font-size: 15px;line-height: 30px;margin-top: 40px;margin-bottom: 5px}
    #cnt0 em{font-size: 20px;width: 240px;height: 35px;line-height: 35px}

    /* cnt1 */
    #cnt1{background-image: url("../images/main/t_bg1.jpg")}
    #cnt1 strong{display: block;font-size: 22px;margin: 10px 0 30px}
    #cnt1 p{font-size: 16px;line-height: 32px}
    /* cnt2, cnt3 */
    .txt h4{font-size: 27px;margin-bottom: 30px}
    .txt h4:after{top: 50px;width: 33px}
    .txt p{line-height: 28px;font-size: 15px}
    .slider{width: 920px;margin-top: 50px;}/* overflow: hidden;height: 700px;margin-top: -100px */
	.slider ul li{width: 920px;height: 435px}
    /* cnt4 */
    .title2{font-size: 30px}
    .title2:after{background-color: #fff}
    .main_txt{font-size: 16px;width: 300px;padding-top: 100px;}
    .main_txt p{padding: 20px 0 47px 0 }
    .main_txt .circle{width: 250px;height: 250px;margin-left: 0px}
    .main_txt .circle p{font-size: 13px;padding-top: 10px}
    .main_txt .circle p:before{content: "";display: block;width: 27px;height: 1px;background: #fff;margin-left: 45%;margin-bottom: 16px}
    #cnt4{background-image: url("../images/main/t_bg_e1.jpg")}
    /* #cnt5 */
    #cnt5{background-image: url("../images/main/t_bg_e2.jpg")}
    #cnt5 .main_txt{margin-right: 60%}

    /* cnt6 */
    #cnt6{background: url("../images/main/review_bg.jpg")no-repeat}
    #cnt6 h3{padding-top:0}
    #cnt6 .subTxt{font-size: 13px}
	#cnt6 ul{width: 100%;margin-left: 0;text-align: center}
    #cnt6 ul li{float: none;display: inline-block;margin-left: 0px;vertical-align: top}
	#cnt6 ul li.list4{display: none;}
    
    #cnt6 ul li p{width: 237px;background: #fff;height: 80px;font-size: 13px;text-align: left;padding: 10px 0 20px 10px;box-sizing: border-box}
    #cnt6 ul .top{margin-top: 20px}
    #cnt6 ul li.on p{font-size: 13px;}
    /* footer */
    #footer{height: 160px;}
    #footer .wrap{padding: 0 30px}
    #footer .area .sns{right: 40px;}
}

@media screen and (max-width: 767px) {
    .title{font-size: 25px;padding-top: 0px;margin-top: -70px}
    .title:after,.title2:after{width: 16px;margin-left: 49%;margin-top: 5px}
    .area{text-align: center}
    #header{height: 105px}
    #header .head_top{width: 100%;background: #235b42;height: 70px;position: fixed}
    #header .logo{padding-top: 13px}
    #header .btn_menu{padding-top: 20px}
    .close_btn, .btn_menu, #mGnb{display: block}
    #pcGnb, #mGnb, .btnTop{display: none}
    .btn_menu{position: absolute;right: 0;margin-right: 5px}

    /* #cnt0 */
	#content > article > .area{padding-top: 70px;}
    #cnt0{padding-top: 0px}
    #cnt0 .area h3{font-size: 40px;line-height: 40px;padding-top: 0;margin-top: -56px}/* margin-bottom: 200px */
    #cnt0 .area span{font-size: 20px;margin-top: -350px;left: 36%}
    #cnt0 .area span:before{width: 30px;margin-bottom: 5px;margin-left: 80px}
    #cnt0 .area img{top: 205px;left: 50%;margin-left: -135px;margin-top: 0px;width: 270px;height: 270px;}
    #cnt0 .area p{position: relative;font-size: 14px;padding-top: 255px;line-height: 26px;z-index: 1}
    #cnt0 em{font-size: 12px;width:125px;height: 24px;line-height: 24px;margin: 0 auto;margin-top: 20px}

    /* #cnt1 */
    #cnt1{background: none}
    #cnt1 strong{display: block;font-size: 15px}
    #cnt1 p{font-size: 13px;line-height: 26px}
	#cnt1 .polygon{margin-top: 10px;}
	#cnt1 .polygon img{width: 250px;}

    /* #cnt2 */
    #cnt2 h3, #cnt3 h3{margin-top: -60px}
    #cnt2,#cnt3{width: 100%;background: none;color: #2b2b2b }
    #cnt2 .txt, #cnt3 .txt{margin-left: 0px;text-align: center}
    #cnt2 .txt p, #cnt3 .txt p{text-align: center;line-height: 28px;font-size: 15px;}
   #cnt2 .txt h4, #cnt3 .txt h4{font-size: 25px;margin-bottom: 30px;text-align: center}
   .txt h4:after{top: 40px;width: 30px}
   .slider{width: 350px;margin-top: 13px}
   .slider ul{padding-top: 10px}
   .slider ul li{width: 350px}
   .slider li img, .slider ul li .txt, .right .slider li img, .right .slider ul li .txt{float: none;}
   .slider ul li .txt, .right .slider ul li .txt, #cnt3 .txt{width: 100%;text-align: center;margin-top: 0px;color: #2b2b2b}
   .slider li img{width: 215px;height: 215px;margin-left: 0px;margin-top: 0px}
   .slider .visual li .txt{position: relative;margin-left: 0px}
   #cnt2 .txt h4:after, .slider .visual li .txt h4:after{left: 50%;}
   #cnt3 .slider ul {padding-top: 0px}

	/* .control{left: 50%;top: 100px;margin-left: 0px;} */
    .control button{position: absolute;top: 0;background: no-repeat}
    .control button img{opacity: 0;}
	.control .next{width: 19px;height: 34px;margin-left: 0;left: 155px;background-image: url("../images/common/m_next.png")}
    .control .prev{left: -137px;;background-image: url("../images/common/m_prev.png")}
    #cnt2 .control{left: 45%;top: 100px}
    #cnt3 .control{left: 45%;top: 86px}



	#cnt4, #cnt5{background: #235b42;text-align: center}
	#content > #cnt4 > .area, #content > #cnt5 > .area{padding-top: 0;}
    .m_event{display: block;}
    #cnt4 h3, #cnt5 h3{font-size: 25px}
	#cnt4 .main_txt, #cnt5 .main_txt{margin-left: 0;width: 100%;overflow: hidden;}
	.main_txt .circle{position: relative;left: 50%;width: 170px;height: 170px;margin-left: -85px;}
    .main_txt p{padding-bottom: 5px;}
    #cnt4 .main_txt .circle img{width: 95px;height: 88px;}
    #cnt5 .main_txt .circle img{width: 118px;height: 80.5px;}
    #cnt4 .main_txt .circle p{font-size: 13px}
    .main_txt .circle p:before{content: "";display: none}
    .main_txt .circle img{margin-top: 30px}
    .main_txt p{padding-top: 10px}


	#cnt6{background: none;height: auto !important}
	#cnt6 ul{margin-bottom: 30px;}
	#cnt6 ul li+ li{margin-top: 20px;}

	/* footer */
	#footer{border-top: 1px solid #aaa;height: auto}
	#footer .area.wrap{position: relative;width: 100%;height: auto;padding: 30px;margin-top: 0;text-align: left}
	#footer .area .foot_box, #footer .area .sns{position: static;}
	#footer .area .foot_box{margin-left: 0;}
	#footer .area .foot_box ul + p span{display: block;}
	#footer .area .sns{margin-top: 10px;}
	#footer .area .sns .twitter{margin-left: 0;}
}