@charset "utf-8";
/* 본문 */
#content article{height: auto}

/* display:none */
#indicator{display: none}
/* header */
#header{background-color: #235b42;height: 90px;}
#pcGnb{background-image: none}
#sub2_content{text-align: center;margin: 0 auto}
#sub2_content .area{height: auto}
#sub2_content #visual{height: 400px;margin-top: 225px;background: url("../images/use/sub2_bg.jpg")no-repeat;color: #fff}
#sub2_content #visual h3{font-size: 65px;font-family: NotoB;letter-spacing: 3.65px;padding-top: 65px}
#sub2_content #visual h3:after{content: "";display: block;width: 35px;height: 1px;background: #fff;margin-top: 41px}
#sub2_content #visual p{font-size: 15px;line-height: 24px;margin-top: 41px}
#sub2_content .subTit{font-family: NotoB;font-size: 50px;letter-spacing: 0.5px;padding-top: 82px}
#sub2 .subTxt{color: #5a5a5a;font-size: 15px;padding: 28px 0 79px;letter-spacing: 0.5px}

#sub2 .vis1{background: url("../images/use/sandwich-677696.jpg")no-repeat fixed;left: 0;right: 0;height: 400px;}
#sub2 .vis1 .circle{position: relative;color: #fff;width: 356px;height: 356px;border-radius: 50%;background-color: rgba(43, 43, 43,0.5);left: 50%;margin-left: -178px;top: 22px}
#sub2 .vis1 .circle .cnTxt{position: absolute;margin-left: 22px;padding-top: 130px}
#sub2 .vis1 .circle h4, #sub2 .vis3 h4{font-size: 40px;font-family: NotoB}
#sub2 .vis1 .circle p, #sub2 .vis3 p{font-size: 15px;font-family: NotoT;padding-top: 15px}
#sub2 .vis1 .icon{height: 247px;background: #fff;margin-top: 44px}
#sub2 .vis1 .icon li{float: left;width: 399px;padding-top: 58px}

#sub2 .vis1 .icon li img, #sub2 .vis2 .box li .txt span,#sub2 .vis2 .box li img {transition: all 0.3s}

#sub2 .vis1 .icon li.on img{margin-top: -30px}
#sub2 .vis1 .icon .list1{border-left: none}
#sub2 .vis1 .icon li span{display: block;font-size: 15px;padding-top: 27px}

#sub2 .vis2 .subTit{margin-top: 250px}
#sub2 .vis2{background: #f5f2ec;margin-top: 44px;padding-bottom: 82px}
#sub2 .vis2 .box li{float: left;text-align: left;background: #fff;border-bottom: 2px solid #235b42;width: 375px;height: 439px;overflow: hidden}

#sub2 .vis2 .box li.on img{transform: scale(1.1)}

#sub2 .vis2 .box .list2{border-bottom-color: #751619}
#sub2 .vis2 .box .list3{border-bottom-color: #deae42}
#sub2 .vis2 .box .list2, #sub2 .vis2 .box .list3{margin-left: 37px}
#sub2 .vis2 .box li .txt{height: 233px;width: 375px;box-sizing: border-box;padding-left: 25px}
#sub2 .vis2 .box li .txt strong{display: inline-block;font-size: 30px;margin-top: 29px}
#sub2 .vis2 .box li .txt span{font-size: 15px;display: block;color: #888}

/* #sub2 .vis2 .box li:hover img{transform: scale(1.3)} */
#sub2 .vis2 .box .list1:hover .txt span{color: #235b42}
#sub2 .vis2 .box .list2:hover .txt span{color: #751619}
#sub2 .vis2 .box .list3:hover .txt span{color: #deae42}

#sub2 .vis2 .box li .txt p{font-size: 16px;color: #888;line-height: 24px;width: 324px;margin-top: 19px}


#sub2 .vis3{background: url("../images/use/bg.jpg")no-repeat fixed;left: 0;right: 0;height: 400px;margin-top: 88px;color: #fff;margin-bottom: 90px}
#sub2 .vis3 p{font-size: 20px}
#sub2 .vis3 .cnTxt{position: absolute;left: 50%;margin-left: -600px;padding-top: 135.5px}



@media screen and (max-width: 1440px){
    .area{margin: 0;margin-left: 102.5px;max-width: 1200px}
    .area.wrap{margin-left: 200px}
    #visual .area{max-width: 1200px}
}
@media screen and (max-width: 1366px){
    #visual .area{max-width: 1100px;}
    .area{margin: 0;margin-left: 0px}
    .area.wrap{margin-left: 200px}
}
@media screen and (max-width: 1280px){
    #visual .area{max-width: 1040px;}
    .area{width: 1040px}
    #sub2 .vis1{background-size: cover}
    #sub2_content #visual{height: 300px;margin-top: 225px;}
    #sub2_content #visual h3{font-size: 50px;padding-top: 60px}
    #sub2_content #visual h3:after{width: 30px;height: 1px;margin-top: 10px}
    #sub2_content #visual p{font-size: 14px;line-height: 24px;margin-top: 41px}
    #sub2_content .subTit{font-size: 40px;padding-top: 50px}
    #sub2 .subTxt{font-size: 15px;padding: 28px 0 79px;letter-spacing: 0.5px}
    #sub2 .vis1{height: 300px;}
    #sub2 .vis1 .circle{width: 250px;height: 250px;border-radius: 50%;background-color: rgba(43, 43, 43,0.5);left: 50%;margin-left: -126.75px;top: 25px}
    #sub2 .vis1 .circle .cnTxt{margin-left: 0px;padding-top: 72px}
    #sub2 .vis1 .circle h4, #sub2 .vis3 h4{font-size: 30px;line-height: 40px}
    #sub2 .vis1 .circle p, #sub2 .vis3 p{font-size: 14px;padding-top: 10px}
    #sub2 .vis1 .icon{height: 200px;background:#fff;margin-top: 77px;margin-left: 140px}
    #sub2 .vis1 .icon li{width: 340px;padding-top: 40px}
    #sub2 .vis1 .icon li span{display: block;font-size: 15px;padding-top: 27px}
    #sub2 .vis1 .icon li.on img{margin-top: -20px}
    #sub2 .vis2 .box{margin-left: 195px}
    #sub2 .vis2 .box li{width: 280px;overflow: hidden;height: 380px}
    #sub2 .vis2 .box li img{height: auto;width: 280px}
    #sub2 .vis2 .box li .txt{height: 210px;width: 280px;box-sizing: border-box;padding-left: 10px}
    #sub2 .vis2 .box li .txt strong{font-size: 20px;margin-top: 20px}
    #sub2 .vis2 .box li .txt span{font-size: 13px}
    #sub2 .vis2 .box li .txt p{font-size: 14px;line-height: 22px;width: 250px;margin-top: 10px;letter-spacing: 0.5px}
    #sub2 .vis3{height: 300px;margin-top: 88px;color: #fff;margin-bottom: 90px;background-position:bottom}
    #sub2 .vis3 p{font-size: 20px}
    #sub2 .vis3 .cnTxt{margin-left: -480px;padding-top:95px}
    #sub2 .vis3{background-size: cover}
    .area.wrap{margin-left: 0px}
}

@media screen and (max-width: 1024px){
    .area{width: 100%}
    #visual .area{max-width: 100%}
    #sub2 .vis1 .icon{margin-left: 0px}
    #sub2 .vis2 .box{margin-left: 0px;box-sizing: border-box}
    #sub2 .vis2 .box li{margin-left: 61.3px;height: 365px;}
    #sub2 .vis3{background-position:bottom}
    #sub2 .vis3 .cnTxt{margin-left: -512px;}
}


@media screen and (max-width: 767px){
    #header{height: 100px;background: none}
    #visual .area{width: 100%;text-align: center}
    #sub2_content #visual{height: 300px;margin-top: 140px;background: url("../images/use/m_bg.jpg")no-repeat top center;color: #fff;}
    #sub2_content #visual h3{font-size: 35px;padding-top: 60px}
    #sub2_content #visual h3:after{width: 30px;height: 1px;margin-top: 10px}
    #sub2_content #visual p{font-size: 13px;line-height: 23px;margin-top: 30px;margin-left: 60px;width: 70%}
    #sub2_content .subTit{font-size: 35px;padding-top: 50px}
    #sub2 .subTxt{font-size: 15px;padding: 20px 0 50px;}
    #sub2 .vis1{background: url("../images/use/m_bg2.jpg")no-repeat top center}
    #sub2 .vis1 .circle{width: 100%;height: 240px;border-radius: 0%;left: 0;margin-left: 0px;top: 0px}
    #sub2 .vis1 .circle .cnTxt{position: static;margin-left: 0px;}
    #sub2 .vis1 .icon{height: auto;margin-top: 0px;margin-left: 0px;width: 100%}
    #sub2 .vis1 .icon li{width: 100%;margin-top: 0px;background: #fff;height: 110px;}
    #sub2 .vis1 .icon li span{font-size: 13px;padding-top: 10px;display: inline-block;margin-left: 10px}
    #sub2 .vis1 .icon li.on img{margin-top: 0px}
    #sub2 .vis2 .subTit{margin-top: 0}
    #sub2 .vis2 .box li{width: 90%}
    #sub2 .vis2 .box .list1,#sub2 .vis2 .box .list2, #sub2 .vis2 .box .list3{margin-left:5%;margin-top: 30px}
    #sub2 .vis2 .box li img{width: 100%}
    #sub2 .vis2 .box li:hover img{transform: scale(1)}
    #sub2 .vis2 .box li .txt{text-align: center;width: 100%;padding-left: 0px}
    #sub2 .vis2 .box li .txt span{font-size: 13px}
    #sub2 .vis2 .box li .txt p{font-size: 13px;line-height: 22px;width: 90%;letter-spacing: 0.5px;margin-left: 15px}
    #sub2 .vis3{background: url("../images/use/m_bg3.jpg")no-repeat top center;left: 0;right: 0;bottom: 0;margin-top: 88px;color: #fff;margin-bottom: 0px;background-size: contain}
    #sub2 .vis3 .cnTxt{position: static;left: 0;margin-left: 0px;padding-top:75px}

}




